#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.gradle/
logs/
.loadpath

#.gradle
/build/
#!gradle/wrapper/gradle-wrapper.jar

#.maven
*/target/
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
#/gradle
#gradlew
#gradlew.bat

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
.jpb/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac ###
.DS_Store

